* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
header {
    position: relative; 
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    margin-top: 0px;
    color:white;
    width: 100%;
    justify-content: left;
  }
 
  header p {
    color:#151413;
    margin-bottom: 5px;
  }

  .fancy {
    color:#151413;
  }
  .lol {
    position: fixed;
    right: 7%;
    top: -8px;
    max-width: 50px;
  }  
nav {
    display: flex;
    background-color: #90cd4a;
  }
  
  nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-family: bradley hand, cursive;
  }
  .tree-beard {
    height: 500px;
    width: 100%;
    margin-top: 0px;
    background-image: url("envy-photo/pretty-green.jpg");
    background-size: cover;
    background-position: center;
  }  
.about-me {
    flex: 1 0 0;
    height: auto;
    font-family: bradley hand, cursive;
    background: linear-gradient( rgb(19, 98, 1),rgb(171, 179, 171));
    color: aliceblue;
    border: 5px solid 5px rgb(38, 36, 36);
    border-top: 5px solid rgb(15, 1, 1);
}
.about-me li {
    font-size: 20px;
}
.about-me img {
    border-radius: 20px;
    align-items: center;
}
.oops {
    border-top: 3px solid rgb(13, 12, 12);
}
.work {
    flex: 4;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .card {
    border: 5px solid;
    border-radius: 10px;
  }
  body {
    font-family: Arial;
    margin: 0;
    background: linear-gradient(rgb(230, 239, 230), rgb(108, 130, 103));
  }
  
  header {
    padding: 20px;
    text-align: center;
    background: #95d97f;
    color: #fff;
  }
  
  .stumpy {
    height: 300px;
    width: 100%;
    background-image: url("envy-photo/stump.JPG");
    background-size: cover;
    background-position: center;
    border-top: 5px solid rgb(100, 97, 97);
    border-bottom: 5px solid rgb(15, 14, 14);
}
  footer {
    display: flex;
    background-color: #7c6b57;
    padding: 15px;
  }
  
  footer a {
    display: flex;
    flex-wrap: wrap;
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
  }
  @media screen and (max-width: 480px) {
    .card img {
        max-height: 350px;
        max-width: 200px;
        background-color: #b9f079;
      }
  }  
  @media screen and (max-width: 880px) {
    .card img {
        max-height: 500px;
        max-width: 400px;
        background-color: #90cd4a;
      }
  }
  @media screen and (max-width: 1024px) {
    .card img {
        max-height: 350px;
        max-width: 200px;
        background-color: #31812f;
      }
  }
  @media screen and (min-width: 1024px) {
    .card img {
        max-height: 350px;
        max-width: 200px;
        background-color: #244423;
    }
  }